[submodule "3rd/ORB_SLAM3_ROS2"]
	path = 3rd/ORB_SLAM3_ROS2
	url = git@github.com:AlboAlby00/ORB_SLAM3_ROS2.git
[submodule "3rd/ACADOtoolkit"]
	path = 3rd/ACADOtoolkit
	url = https://github.com/acado/acado.git
[submodule "crazyflie_trajectory"]
	path = crazyflie_trajectory
	url = git@github.com:danielbinschmid/trajectory_generation.git
