<?xml version="1.0" ?>
<robot name="crazyflie">
    <webots>
        <plugin type="crazyflie_ros2_driver.crazyflie_driver.CrazyflieDriver" />
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/crazyflie/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial unit</inertialUnitName>
            <gyroName>gyro</gyroName>
        </plugin>
    </webots>
</robot>



