<?xml version="1.0"?>
<robot name="crazyflie" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
Group {
    children 
  }Group {
    children 
  }Group {
    children 
  }Group {
    children 
  }  </link>
  <link name="solid">
  </link>
  <joint name="base_link_solid_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid"/>
    <origin xyz="0.031 0.031 0.007" rpy="0 0 1.739316"/>
  </joint>
  <link name="solid_0">
  </link>
  <joint name="base_link_solid_0_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_0"/>
    <origin xyz="-0.031 0.031 0.008" rpy="0 0 -1.739316"/>
  </joint>
  <link name="solid_1">
  </link>
  <joint name="base_link_solid_1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_1"/>
    <origin xyz="-0.031 -0.031 0.008" rpy="0 0 1.739316"/>
  </joint>
  <link name="solid_2">
  </link>
  <joint name="base_link_solid_2_joint" type="fixed">
    <parent link="base_link"/>
    <child link="solid_2"/>
    <origin xyz="0.031 -0.031 0.008" rpy="0 0 -1.739316"/>
  </joint>
  <link name="inertial unit">
  </link>
  <joint name="base_link_inertial unit_joint" type="fixed">
    <parent link="base_link"/>
    <child link="inertial unit"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="gyro">
  </link>
  <joint name="base_link_gyro_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gyro"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="gps">
  </link>
  <joint name="base_link_gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="camera">
  </link>
  <joint name="base_link_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera"/>
    <origin xyz="0.03 0 0.01" rpy="-1.570796 0 -1.570796"/>
  </joint>
  <link name="range_front">
  </link>
  <joint name="base_link_range_front_joint" type="fixed">
    <parent link="base_link"/>
    <child link="range_front"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
  </joint>
  <link name="range_left">
  </link>
  <joint name="base_link_range_left_joint" type="fixed">
    <parent link="base_link"/>
    <child link="range_left"/>
    <origin xyz="0 0 0.02" rpy="0 0 1.57"/>
  </joint>
  <link name="range_back">
  </link>
  <joint name="base_link_range_back_joint" type="fixed">
    <parent link="base_link"/>
    <child link="range_back"/>
    <origin xyz="0 0 0.02" rpy="0 0 3.14"/>
  </joint>
  <link name="range_right">
  </link>
  <joint name="base_link_range_right_joint" type="fixed">
    <parent link="base_link"/>
    <child link="range_right"/>
    <origin xyz="0 0 0.02" rpy="0 0 -1.57"/>
  </joint>
  <webots>
        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu</topicName>
            <alwaysOn>true</alwaysOn>
            <frameName>imu_link</frameName>
            <inertialUnitName>inertial unit</inertialUnitName>
            <gyroName>gyro</gyroName>
        </plugin>
    </webots>
</robot>
